<!-- Menu -->
<nav id="menu">
	<header class="major">
		<h2>Menu</h2>
	</header>
	<ul>
		<li><a href="home.html">Homepage</a></li>
		<li><a href="research.html">Research</a></li>
		<li><a href="resume.html">Resume</a></li>
		<li>
			<span class="opener">Past Projects</span>
			<ul>
				<li><a href="https://twuga.shinyapps.io/CCTsPatentsExplorer/" target="_blank">Climate Change Technologies Patents @ Rshiny</a></li>
				<li><a href="https://github.com/Tianawangty/Hong-Kong-Twitter-Text-Analysis">Hong Kong Twitter Text Analysis @JHU</a></li>
				<li><a href="https://www.imfconnect.org/content/imf/en/annual-meetings/calendar/open/2023/10/11/179405.html?calendarCategory=T2ZmaWNpYWwvQnkgSW52aXRhdGlvbg==.UHJlc3M=.V29ybGQgQmFuaw==.T3Blbg==">Climate Policies Analysis @IMF</a></li>
				<li><a href="https://www.imfconnect.org/content/imf/en/annual-meetings/calendar/open/2019/10/17/challenge_finalebigdataforsurveillancepitchevent_146962.html?display=none">Sentiment Analysis @IMF</a></li>
			</ul>
		</li>
	</ul>
</nav>
